.not-found-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding:20px;
}
.not-found-image {
  width: 400px;
  height: 400px;
}
.notfound-heading{
  color:white;
  font-size: 30px;
}
.notfound-paragraph{
  color:#7e858e;
  font-size: 20px;
}
@media (max-width: 767px) {
  .not-found-image {
    width: 270px;
    height: 270px;
  }
  .notfound-heading{
  color:white;
  font-size: 20px;
}
.notfound-paragraph{
  color:#7e858e;
  font-size: 15px;
}
}
